

.slidecontainer {
    width: 300px; /* Width of the outside container */
}

.container {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 320px; 
    height: 8px;
    background: #a3a3a3;
    outline: none; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding-top: 8px;
    padding-bottom: 8px;
}

.label {
	font-color: #a3a3a3;
    width: 44px;
}

.hline { 
	width: 100%;
	height: 1px;
	background: #000000; 
}

/*
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
*/
